.video-detail {
  min-height: 95vh;
}

.video-detail .detail {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.video-detail .detail .box {
  flex: 1;
  width: auto;
  position: sticky;
}

.box .box-detail {
  width: 100%;
}

.box-detail h4 {
  color: #fff;
  font-weight: bold;
  padding: 1rem;
}

.detail .detail-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  padding: 0.5rem 1rem;
}

.box-detail .stats {
  display: flex;
  gap: 20px;
  align-items: center;
}

.related-videos {
  display: grid;
  grid-template-columns: repeat(1, 250px);
  gap: 1rem;
  padding: 0 1rem 1rem;
}

@media (max-width: 750px) {
  .video-detail .detail {
    flex-direction: column;
  }

  .related-videos {
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
